
<% @tweets.each do |t| %>
	<section style="display:flex;width:100%;">
		<iframe src="https://twitframe.com/show?url=<%= t.link %>" width="50%;">
			
		</iframe>
		<div style="width:45%;margin-left: 5%;">
			<p><strong>twitter ID</strong> <%= t.tid %></p>
			<p><strong>twitter Author</strong> <%= t.user_name %></p>
			<p><strong>abstract text</strong> <%= t.text %></p>
			<p><strong>Link </strong><a href="<%= t.link %>" target="_blank"><%= t.link %></a></p>
			<p><strong>Archive Link </strong><a href="<%= t.archive_link %>" target="_blank"><%= t.archive_link %></a></p>
			<p class="alert-text"><strong>Alert Text</strong> <%= Alert.find(t.alert_id).try(:text) %></p>
			
		</div>
		
	</section>
<% end %>

