
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
    obj.style.width = obj.contentWindow.document.documentElement.scrollWidth + 'px';
  }
</script>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<% @tweets.each do |t| %>
	<% aler_text = Alert.find(t.alert_id).try(:text) %>
	<section style="display:flex;width:100%;margin-bottom: 10px;" data-search="<%= aler_text %> <%= t.user_name %>">
		<iframe src="https://twitframe.com/show?url=<%= t.link %>" width="400px" height="580px" frameborder="0" onload="resizeIframe(this)">
			
		</iframe>
		<div style="width:45%;margin-left: 20px;">
			<p><strong>twitter ID</strong> <%= t.tid %></p>
			<p><strong>twitter Author</strong> <%= t.user_name %></p>
			<p><strong>abstract text</strong> <%= t.text %></p>
			<p><strong>Link </strong><a href="<%= t.link %>" target="_blank"><%= t.link %></a></p>
			<p><strong>Archive Link </strong><a href="<%= t.archive_link %>" target="_blank"><%= t.archive_link %></a></p>
			<p class="alert-text"><strong>Alert Text</strong> <%= aler_text %></p>
			
		</div>
		
	</section>
<% end %>

